h1,
h2,
h3,
h4 {
  margin: 1rem 0;
}

h2 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

h3 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

p {
  margin: 0.5rem 0;
}

blockquote {
  background: #f9f9f9;
  padding: 0.5rem 0.75rem;
  quotes: '\201C' '\201D' '\2018' '\2019';
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1rem;
  vertical-align: -1.75rem;
}

blockquote p {
  display: inline;
}

a {
  color: rgb(10, 25, 250);
  text-decoration: underline;
  &:hover {
    color: green;
  }
}

content {
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

.social-icon {
  aspect-ratio: 1/1;
  height: 100%;
  fill: currentColor;

  &:hover {
    .outer {
      fill: red;
    }
  }
}
