---
// Welcome to Astro! Everything between these triple-dash code fences

import BlogLayout from '../layouts/BlogLayout.astro';
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title={'itsjoshb'} includeHeader={false}>
  <section>
    <BlogLayout count={3} />
    <a href='/blog' class='underline decoration-2'>See more posts</a>
  </section>
</PageLayout>
<style>
  h1 {
    color: orange;
  }
</style>
