<header
  class='flex flex-row justify-between content-center max-w-5xl mx-auto w-full px-5'
>
  <a href='/' class='self-center sm:self-start'>
    <h1 class='text-3xl text-orange-500'>itsjoshb</h1>
  </a>
  <nav class='p-4'>
    <ul
      class='list-none overflow-hidden p-0 m-0 decoration-gray-600 flex sm:flex-row flex-col sm:justify-between'
    >
      <li class='inline-block mx-2'>
        <a href='/' class='underline decoration-2'>Home</a>
      </li>
      <li class='inline-block mx-2'>
        <a href='/about' class='underline decoration-2'>About</a>
      </li>
      <li class='inline-block mx-2'>
        <a href='/blog' class='underline decoration-2'>Blog</a>
      </li>
      <li class='inline-block mx-2'>
        <a href='/interesting-stuff' class='underline decoration-2' data-astro-prefetch
          >Interesting Stuff</a
        >
      </li>
    </ul>
  </nav>
</header>
